<%= render 'layouts/navbar' %>

<div class="container-fluid">

  <h1>Cadastrar Host</h1>

  <%= render 'form' %>

  <div class="actions">
    <%= link_to 'Voltar', hosts_path, class: 'btn btn-danger' %>
  </div>
</div>