<!-- NÃO ESTÁ CARREGANDO ESTA PÁGINA -->


<!DOCTYPE html>
<html lang="pt" ng-app="tehparadox">
<head>
  <meta charset="UTF-8">
  <title>Crawler para o Teh Paradox</title>

  <!--<script src="angular.min.js"></script>-->
  <!--<script src="assets/javascripts/controller_application.js"></script>-->

</head>
<body ng-controller="MainCtrl">
<header>
  <h1>Teh Crawdox</h1>
</header>

{{teste}}

<div>
  <!-- Mudará de acordo com a rota -->
</div>

<footer>
  <p>Crawler para o Teh Paradox</p>
</footer>

</body>
</html>