<%= render 'layouts/navbar' %>

<div class="container-fluid">
  <h1>Editando Categoria</h1>

  <%= render 'form' %>
  <div class="actions">
    <%= link_to 'Mostrar', @categoria, {class: 'btn btn-primary'} %>
    <%= link_to 'Cancelar', categorias_path, {class: 'btn btn-danger'} %>
  </div>
</div>