<script>
  var Publicacoes = <%= @publicacoes.to_json(include: [{links: {include: [:host]}} , :imagens]).html_safe %>;
</script>

<body ng-app="tehparadox">
<div ng-controller="ControllerPublicacoes">
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>

    <h1>Publicações</h1>

    <% if @publicacoes.empty? %>
        <h1>Nenhuma publicação nova a ser exibida</h1>
    <% end %>

    <div>
      <div class="row">
        <div class="col-md-2 publicacoes" ng-repeat="publicacao in publicacoes">
          <h5><strong>{{publicacao.titulo}}</strong></h5>
          <img ng-src="{{publicacao.imagens[0].imagem}}" class="img-capa">
          <p>{{publicacao.descricao}}</p>
          <p><strong>Hosts:</strong></p>
          <button ng-click="gerarDlc(publicacao, link.host.id)" ng-repeat="link in publicacao.links | unique 'link.host.imagem_padrao'">
            <img src="{{link.host.imagem_padrao}}" class="img-logo"></button>
          <p><strong>Ações:</strong></p>
          <button class="btn .btn-primary" ng-click="confirmarSemHost(publicacao)">Confirmar</button>
          <button class="btn .btn-warning" ng-click="ignorar(publicacao)">Ignorar</button>
          <button class="btn .btn-danger" ng-click="rejeitar(publicacao)">Rejeitar</button>
        </div>
      </div>

    </div>
    </br>
  </div>
</div>
</body>