// Place all the styles related to the Publicacoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-capa {
  max-width: 250px;
  max-height: 250px;

}

.img-logo {
  max-width: 60px;
  max-height: 60px;
}

.publicacoes {
  text-align: center;
}